<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="page-header">Disciplinas</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
              </span>
              <input name="consulta" id="txt_consulta" placeholder="Consultar por Nome" type="text" class="form-control" (input)="onSearchChange($event.target.value.toUpperCase())">
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-3 ">
            <div class="form-group input-group">
              <span class="input-group-addon">IES</span>
              <select class="custom-select custom-select-lg mb-12" [(ngModel)]="iesSelecionada" (change)="onChangeDisc()" class="form-control">
                <option *ngFor="let ies of iesList" [value]="ies.id">{{'[' + ies.id + '] ' + ies.nome}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table">
              <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-xs-1">#</th>
                    <th class="col-xs-3">Nome</th>
                    <th class="col-xs-1">Carga&nbsp;Horaria</th>
                    <th class="col-xs-3">Disciplina Equivalencia</th>
                    <th class="col-xs-1">Carga&nbsp;Horaria</th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let disciplina of disciplinas">
                    <td>{{disciplina.id}}</td>
                    <td style="white-space: nowrap; max-width: 380px; overflow:hidden; text-overflow: ellipsis; " title='{{disciplina.nome}}' >{{disciplina.nome}}</td>
                    <td>{{disciplina.cargaHoraria}}</td>
                    <td></td>
                    <td></td>
                    <td>
                      <span [hidden]="confirmacao">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                      </span>
                      <span [hidden]="!confirmacao">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="...">
      <ul class="pager">
        <li>
          <a (click)="anterior()">Anterior</a>
        </li>
        <li>
          <input [(ngModel)]="pagina" class="text-center" style="width: 50px" />
        </li>
        <li>
          <a (click)="proximo()">Próximo</a>
        </li>
      </ul>
    </nav>
