
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="page-header">Disciplinas</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
              </span>
              <input name="consulta" id="txt_consulta" placeholder="Consultar por Nome" type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-3 ">
            <div class="form-group input-group">
              <span class="input-group-addon">IES</span>
              <select class="custom-select custom-select-lg mb-12" [(ngModel)]="iesSelecionada" (change)="onChangeDisc()" class="form-control">
                <option *ngFor="let ies of iesList" [value]="ies.id">{{'[' + ies.id + '] ' + ies.nome}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-1">#</th>
                    <th class="col-sm-3">Nome</th>
                    <th class="col-sm-1">Carga Horaria</th>
                    <th class="col-sm-3">Disciplina Equivalencia</th>
                    <th class="col-sm-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let disciplina of disciplinas" >
                    <td>{{disciplina.id}}</td>
                    <td>{{disciplina.nome}}</td>
                    <td>{{disciplina.cargaHoraria}}</td>
                    <td></td>
                    <td>(lupa)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="...">
      <ul class="pager">
        <li><a (click)="anterior()" >Anterior</a></li>
        <li><a (click)="proximo()" >Próximo</a></li>
      </ul>
    </nav>

    {{pagina}}
