<div class="container">

  <table class="table table-hover table-sm">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Codigo</th>
              <th scope="col">Nome</th>
              <th scope="col">uf</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let c of disciplinas">
              <th scope="row">{{c.id}}</th>
              <td>{{c.codigo}}</td>
              <td>
                  <a (click)="selecionaCidade(c.id)">{{c.nome}}</a>
              </td>
              <td>{{c.uf}}</td>
          </tr>
      </tbody>
  </table>

</div>


